<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <title>Real-time-Web</title>
   <link rel="stylesheet" href="/css/style.css" />
 </head>
 <body>

    <%-include('components/header.ejs', {title: title, session:session}) %>
    <main>
          <section id="shows">
            <h2>Aanbevolen shows</h2>
            <!-- <article>
              <h2>..loading</h2>
            </article> -->


            <% /* %><% if(typeof shows != 'undefined') { 
      for(let i = 0; i < shows.length; i++) {%>
        <article>
        <h3><%= shows[i].name %></h3>
        <% if (typeof shows[i].genres != 'undefined') { 
          for(let y = 0; y < shows[i].genres.length; y++) {
            
          %>
              <div><%= shows[i].genres[y] %></div>

      <%  }
     }%>
     <a href="/show">Join show</a>
        </article>
   <% } %>

        
    <% } %><% */ %>
   
  </section>


        </main>
        <script src="https://d3js.org/d3.v5.min.js"></script>

   <%-include('components/footer.ejs') %>
   
 </body>
</html>