<nav role="navigation">
    <ul>
         <li><a href="/edit-profile">Edit profile</a></li>
         <li><a href="/shows">Shows</a></li>
         <li><a href="/logout">Logout</a></li>
    </ul>
</nav>