
<footer>
<a href="https://newsapi.org/">Powered by News API</a> 
</footer>
<% 
    if(typeof scripts != "undefined" && scripts.length){ 
        for(let i = 0; i < scripts.length; i++){
%>
    <script src="/js/<%=scripts[i]%>"></script>
<%      }
    }
%>
</body>
</html>